/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #af84c3;
}

.container {
  width: 60vw;
  padding-top: 5vh;
  padding-bottom: 3vh;
  height:max-content;
  border-radius: 10px;
  background: #222;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.container h2 {
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  padding: 20px 25px;
  border-bottom: 1px solid #333;
  color: #fff;
}

.container .content {
  margin: 25px 20px 35px;
}

.content .word {
  user-select: none;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 18px;
  margin-right: -18px;
  word-break: break-all;
  text-transform: uppercase;
  color: #5372f0;
}

.content .details {
  margin: 25px 0 20px;
  text-align: center;
}

.details p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #bbb;
}

.details p b {
  font-weight: 500;
}

.content input {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: white;
  color: #bbb;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
}

.content input:focus {
  border-color: #5372f0;
  background-color: white;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.content input::placeholder {
  color: #555;
}

.content input:focus::placeholder {
  color: #bbb;
}

.content .buttons {
  display: flex;
  padding-bottom: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  width: calc(50% - 6px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.buttons button:active {
  transform: scale(0.97);
}

.buttons .refresh-word {
  background: #6c757d;
}

.buttons .refresh-word:hover {
  background: #5f666d;
}

.buttons .check-word {
  background: #5372f0;
}

.buttons .check-word:hover {
  background: #2c52ed;
}
